body {
    background: url(https://cn.bing.com/th?id=OHR.LassenPeak_ZH-CN5435067682_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
    margin: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: microsoft yahei light, microsoft yahei, Helvetica, sans-serif, 等线;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;


}


#topTitle {
    background-color: rgba(4, 104, 199, 0.37);
    position: relative;

    top: 30%;
    width: 100%;
    text-align: center;

}


#logo {
    margin: 10px auto;

}

#logo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;

}

#logo img:hover {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.navBox {
    text-align: center;
    position: relative;
    margin-top: 60px;
    width: 100%;
    font-size: small;
}

.navLink {
    position: relative;
    text-decoration: none;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    background: rgba(255, 255, 255, 0.25);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #646464;
}

.navLink:hover {
    background: rgba(3, 199, 248, 0.35);
    color: #ffffffe3;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 5px 10px
}

.underline1 {
    /*in the center of the line*/
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer; 
    
    margin-top: 20px;
    width: 50px;
    border-bottom: 3px solid #09e7e7;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
}

.underline1:hover {/*be long to the underline*/
    width: 100px;
    border-bottom: 3px solid #09e7e7;
}




a {
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(204, 204, 204);
    font-size: small;

}

a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;

}

a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;

}

a:hover {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: small;


}
