body {
    background: url(https://cn.bing.com/th?id=OHR.LassenPeak_ZH-CN5435067682_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp);
    margin: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: microsoft yahei light,microsoft yahei,Helvetica,sans-serif,等线;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    
    
}


#topTitle {
    background-color: rgba(4, 104, 199, 0.37);
    position: relative;
    
    top: 30%;
    width: 100%;
    text-align: center;
    
}


#logo{
    margin:10px auto;
    
} 

#logo img{
    border-radius:50%;
    width: 150px;
    height: 150px;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;

}
#logo img:hover{
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.navBox {
    text-align: center;
    position: relative;
    margin-top: 60px;
    width: 100%;
    font-size: small;
}

.navLink {
    position: relative;
    text-decoration: none;
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    background: rgba(0,0,0,0.15);
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #646464;
}

.navLink:hover {
    background: rgba(0,0,0,0.35);
    color: #ffffffe3;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 5px 10px;
    -moz-box-shadow: rgba(0,0,0,.1) 0 5px 10px;
    box-shadow: rgba(0,0,0,.1) 0 5px 10px
    
    
}




a{
    text-decoration:none;
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
    font-size: small;
    
}
a:link{
    color:rgb(0, 0, 0);
    text-decoration: none; 
    font-size: small;
    
}
a:visited{
    color:rgb(0, 0, 0);
    text-decoration: underline; 
    font-size: small;
    
}
a:hover{
    color:rgb(0, 0, 0);
    text-decoration: none; 
    font-size: small;
    
    
}
